* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* START HEADER */
header {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 0 0 0;
  position: fixed;
}
.container-template {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.header-item1 {
  width: 25%;
  height: 60px;
}
.header-item img {
  background: url(./drive-download-20220328T034701Z-001/logo-2.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 100px;
  cursor: pointer;
}
.header-item2 {
  width: 60%;
  height: 60px;
}

.header-item2 li {
  list-style: none;
  display: inline;
}
.header-item2 a {
  text-decoration: none;
  color: #070120;
  margin-left: 20px;
  font-weight: 500;
}
.header-item2 i {
  font-size: 10px;
  margin-left: 4px;
}
.header-item2 ul {
  margin: 20px 0 0 100px;
}

.header-item3 button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  transition: 0.5s;
  background-size: 200%;
  cursor: pointer;
}

.header-item3:hover button {
  background-position: right;
}
/* END HEADER */
/*  */
/* START CAROUSEL */
.carousel {
  background: url(./drive-download-20220328T034701Z-001/pic2.png);
  width: 100%;
  max-width: 1600px;
  height: 850px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-content {
  padding: 200px 0 0 0;
}
.carousel-text {
  width: 58%;
  height: 100%;
  padding-top: 80px;
}
.carousel-text h4 {
  font-size: 20px;
  color: #f55f8d;
  animation-name: carousel-translate;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.carousel-text h1 {
  font-size: 65px;
  font-weight: 800;
  color: #262626;
  animation-name: carousel-translate;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.carousel-text p {
  color: #636363;
  font-size: 18px;
  margin: 20px 0;
  animation-name: carousel-translate;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.carousel-text li {
  list-style: none;
  line-height: 3;
  animation-name: carousel-translate;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.carousel-text a {
  text-decoration: none;
  color: #636363;
  font: 18px;
}
.carousel-text i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  color: white;
  margin-right: 20px;
}
.carousel-text li span {
  font-size: 20px;
  color: #636363;
}
.carousel-text ul {
  margin-bottom: 30px;
}
.carousel-text button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  transition: 0.5s;
  background-size: 200%;
  cursor: pointer;
  animation: carousel-translate;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.carousel-text:hover button {
  background-position: right;
}
.carousel-img {
  width: 42%;
  position: relative;
}
.carousel-img img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  animation-name: carousel-translate;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.carousel-img2 {
  position: absolute;
  top: 0;
  width: 800px;
  height: 600px;
  animation-name: surprise;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  margin-left: -100px;
}
.carousel .carousel-img2 img {
  height: 100%;
  width: 100%;
  animation-name: animate_img;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  visibility: visible;
}
/* END CAROUSEL */
/*  */
/* START SERVICE */
.service {
  background: url(./drive-download-20220328T034701Z-001/bg2.png);
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-content {
  padding-top: 40px;
}
.service-text {
  text-align: center;
}
.service-text h4 {
  font-size: 20px;
  color: #f55f8d;
}
.service-text h1 {
  font-size: 65px;
  color: #262626;
  font-weight: 800;
}
.service-container {
  margin-top: 50px;
}
.service-item {
  width: 33%;
  text-align: center;
  background-color: #fff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  margin-right: 40px;
  transition: 1s;
}
.service-item img {
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-item-text h3 {
  color: #262626;
  font-size: 23px;
  font-weight: 800;
  margin: 15px 0;
}
.service-item-text p {
  color: #636363;
  font-size: 15px;
}
.service-item:hover {
  transform: translateY(-20px);
}
/* END SERVICE */
/*  */
/* START INFORMATION */
.information {
  background: url(./drive-download-20220328T034701Z-001/bg15.png);
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 100px 0;
}
.information-img {
  width: 50%;
}
.in4 {
  position: relative;
  width: 60vw;
  left: -42%;
  padding-top: 80px;
}
.in4::before {
  content: "";
  height: 100%;
  background: #fef2f6;
  position: absolute;
  top: 45px;
  width: 60vw;
  right: -13px;
  transform: rotate(8deg);
  border-radius: 0 100px 100px 0;
}
.in4 img {
  width: 100%;
  border-radius: 0 100px 100px 0;
  position: relative;
}
.information-text {
  width: 50%;
  line-height: 1.2;
  max-width: 723px;
}
.information-item {
  width: 80%;
}
.information-item ul {
  margin: 15px 0;
}
.information-text h3 {
  color: #f55f8d;
  font-size: 20px;
}
.information-text h2 {
  color: #262626;
  font-size: 70px;
  font-weight: 800px;
}
.information-text p {
  font-size: 16px;
  color: #636363;
  margin: 30px 0;
}
.information-item li {
  list-style: none;
  line-height: 3.5;
}
.information-item i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  text-align: center;
  color: #f55f8d;
  margin-right: 15px;
}
.information-item span {
  color: #636363;
}
.informative button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  transition: 0.5s;
  background-size: 200%;
  cursor: pointer;
}
.informative button:hover {
  background-position: right;
}
/* END INFORMATION */
/*  */
/* START NUMBER */
.number {
  background: url(./drive-download-20220328T034701Z-001/bg14.png);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
}
.number-item {
  text-align: center;
  padding: 70px 0;
  width: 25%;
}
.number-content {
  justify-content: space-between;
}
.number-icon i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  border-radius: 50%;
}
.number-text {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}
.number-text span {
  color: #f55f8d;
  font-size: 65px;
  font-weight: 800;
}
.number-text p {
  color: #262626;
  font-size: 18px;
  font-weight: 200;
}
/* END NUMBER */
/*  */
/* START STORY */
.story {
  padding: 80px 0;
  background: url(./drive-download-20220328T034701Z-001/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.story-text {
  width: 50%;
}
.story-text h4 {
  font-size: 20px;
  color: #f55f8d;
}
.story-text h2 {
  color: #262626;
  font-size: 63px;
  font-weight: 800;
}
.story-item {
  padding: 30px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 30px 0;
  width: 80%;
  border-radius: 15px;
  position: relative;
}
.story-item::after {
  content: "";
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 15px;
}
.story-container {
  position: relative;
  z-index: 9;
}
.hover-item {
  position: relative;
  z-index: 9;
}
.story-item i {
  font-size: 70px;
  color: #f55f8d;
  padding-top: 12px;
  margin-right: 25px;
  transition: 1s;
}
.story-item h4 {
  color: #262626;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 800;
  transition: 1s;
}
.story-item p {
  color: #636363;
  transition: 1s;
}
.story-translate {
  margin-left: 50px;
}
.story-item:hover::after {
  opacity: 1;
  z-index: 2;
}
.story-item:hover i {
  color: white;
}
.story-item:hover h4 {
  color: white;
}
.story-item:hover p {
  color: white;
}
.story-img {
  width: 50%;
}
.story-img img {
  width: 100%;
  margin-top: 50px;
  height: 90%;
  animation-name: animate_img;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
/* END STORY */
/*  */
/* START PORTFOLIO */
.portfolio {
  padding: 50px 0;
  background: url(./drive-download-20220328T034701Z-001/bg17.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  max-width: 1600px;
  margin: 0 auto;
}
.portfolio-text {
  text-align: center;
}
.portfolio-text h4 {
  color: #f55f8d;
  font-size: 25px;
}
.portfolio-text h1 {
  color: #262626;
  font-size: 65px;
  font-weight: 800;
}
.portfolio-img {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 35%;
  grid-template-rows: auto auto;
  gap: 15px;
  object-fit: cover;
}
.portfolio-img img {
  border-radius: 15px;
}
.portfolio-showcase1 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  position: relative;
  z-index: 2;
}

.portfolio-showcase2 {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.pic-container {
  width: 100%;
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 39% 45%;
  gap: 16px;
  overflow: hidden;
}
.portfolio-showcase3 {
  width: 95%;
  position: relative;
  z-index: 2;
}
.portfolio-showcase4 {
  width: 95.5%;
  position: relative;
  z-index: 2;
}
.portfolio-showcase5 {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/3;
  width: 98%;
  z-index: 2;
}
.portfolio-showcase6 {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 15px;
}
.portfolio-overlay i {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.portfolio-overlay .minus h3 {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 30px;
  transition: 0.5s;
  font-size: 30px;
}
.portfolio-overlay .minus p {
  color: #dad0d0;
  position: absolute;
  bottom: 0px;
  left: 30px;
  transition: 0.5s;
  font-size: 20px;
}
.portfolio-overlay .minus a {
  text-decoration: none;
  bottom: 15px;
  left: 30px;
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pic5 {
  width: 100%;
  height: 130%;
  object-fit: cover;
}
.yasuo {
  height: 130%;
}
.fixed {
  height: 130%;
}
.portfolio-overlay:hover {
  opacity: 1;
}
.portfolio-overlay:hover .plus i {
  top: 25px;
  right: 25px;
}
.portfolio-overlay:hover h3 {
  bottom: 70px;
}
.portfolio-overlay:hover p {
  bottom: 50px;
}
.portfolio-overlay::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  width: 25%;
  height: 100%;
  top: 0;
  left: -250px;
  transform: rotate(120deg);
  transition: 1s;
  transform: skewX(-26deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.portfolio .portfolio-img .portfolio-overlay:hover::before {
  transform: skewX(-26deg) translateX(1000px);
}
/* END PORTFOLIO */
/*  */
/* START PLAN */
.plan {
  background: url(./drive-download-20220328T034701Z-001/bg16.png);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}
.plan-text {
  text-align: center;
}
.plan-text h3 {
  color: #f55f8d;
  font-size: 20px;
}
.plan-text h1 {
  font-size: 65px;
  font-weight: 800;
  color: #262626;
}
.plan-container {
  margin: 20px auto;
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  border-radius: 10px;
  cursor: pointer;
}
.plan-container a {
  text-decoration: none;
}
.plan-month {
  width: 50%;
  height: 71%;
  padding: 9px;
  margin: 6px;
  background-color: white;
  border-radius: 5px;
}

.plan-month a {
  color: black;
}
.plan-year {
  padding: 6px;
  margin-top: 9px;
}
.plan-year a {
  color: white;
}
.img-item h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 800;
}
.img-item ul {
  list-style: none;
  padding-top: 35px;
}
.img-item li {
  text-decoration: none;
}
.img-item {
  width: 33%;
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 20px;
  margin-right: 10px;
  position: relative;
  height: 850px;
}
.img-item::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  height: 99%;
  width: 97%;
  top: 0;
  left: 0;
  z-index: 1;
  border: 5px solid transparent;
  opacity: 0;
  transition: 1s;
  border-image: url(./drive-download-20220328T034701Z-001/br.png) 5 round;
}
.img-item:hover::before {
  opacity: 1;
}
.img-item img {
  width: 50%;
  margin-left: 70px;
}
.img-coveritem {
  margin: 10px 0 20px 125px;
}
.img-coveritem h2 {
  color: #f8ae56;
  font-size: 50px;
}
.img-coveritem p {
  padding-top: 26px;
  font-size: 20px;
  font-weight: 700;
}
.img-item li {
  margin-left: 40px;
  line-height: 2.5;
}
.img-item ul i {
  color: #f55f8d;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #feeff3;
  font-size: 20px;
  margin: 10px 20px 10px 0;
}
.img-item span {
  color: #262626;
  font-weight: 400;
}
.img-item button {
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  transition: 0.5s;
  background-size: 200%;
  margin-top: 30px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 105px;
}
.plan .img-item button:hover {
  background-position: right center;
}
.img-item hr {
  width: 70%;
  margin: 0 auto;
  border-color: whitesmoke;
}
/* END PLAN */
/*  */
/* START FOUNDER*/
.founder {
  background: url(./drive-download-20220328T034701Z-001/bg17.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  margin: 0 auto;
  max-width: 1600px;
}
.founder-text {
  text-align: center;
}
.founder-text h3 {
  font-size: 20px;
  color: #f55f8d;
}
.founder-text h1 {
  font-size: 65px;
  color: #262626;
  font-weight: 800;
}
.founder-img {
  margin-top: 50px;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 450px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 20px 30px 30px 30px;
  text-align: center;
  /* box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%); */
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  margin: 40px 100px;
  border-radius: 15px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text h3 {
  font-size: 25px;
  color: #262626;
  padding: 20px;
  font-weight: 800;
}
.testimonial-text h4 {
  font-size: 19px;
  color: #f55f8d;
  font-weight: 300;
  font-style: italic;
}
.testimonial-text p {
  padding: 30px 12px;
  font-size: 18px;
  color: #636363;
  font-style: italic;
  font-weight: 300;
}
.testimonial-text i {
  position: absolute;
  font-size: 70px;
  color: #f55f8d;
  top: 47px;
  left: 40px;
}
/* END FOUNDER */
/*  */
/* START BLOG */
.blog {
  background: url(./drive-download-20220328T034701Z-001/bg16.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0;
}
.blog-text {
  text-align: center;
}
.blog-text h3 {
  font-size: 20px;
  color: #f55f8d;
}
.blog-text h1 {
  font-size: 65px;
  color: #262626;
  font-weight: 800px;
}
.blog-carousel {
  width: 100%;
  padding: 50px 0;
}
.blog-item {
  width: 30%;
  position: relative;
  padding: 0 10px 0 0;
}
.blog-item img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.blog-word {
  padding: 20px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(245, 95, 141, 0.1);
  transform: translateY(-7px);
}
.blog-word a {
  text-decoration: none;
  color: #262626;
  font-size: 25px;
  font-weight: 700;
}
.blog-word p {
  color: #636363;
  padding: 20px 0;
  font-weight: 300;
  cursor: grab;
}
.blog-cancer {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-cancer i {
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #f55f8d;
  color: #f55f8d;
  border-radius: 50%;
  cursor: grab;
}
.blog-cancer span {
  font-size: 10px;
  padding: 5px;
  color: #636363;
  cursor: grab;
}
.blog-cancer h6 {
  font-size: 10px;
  padding: 5px;
  color: rgb(99, 99, 99);
  cursor: pointer;
  font-weight: 200;
}
.blog-cancer h3 {
  font-size: 10px;
  padding-top: 5px;
  margin-right: 30px;
  color: #f55f8d;
  font-weight: 300;
  cursor: pointer;
}
.blog-cancer h4 {
  font-size: 10px;
  padding-top: 5px;
  font-weight: 300;
  color: #636363;
  cursor: pointer;
}
.blog-position {
  width: 120px;
  height: 25px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  position: absolute;
  top: 215px;
  font-size: 13px;
  left: 20px;
  text-align: center;
  line-height: 2.3;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  cursor: grab;
}
/* END BLOG */
/*  */
/* START LOGO */
.logo {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px 0;
}
.logo-content {
  width: 100%;
}
.logo-thuvien {
  width: 100%;
}
.logo-item {
  width: 16%;
  height: 90px;
  border-radius: 10px;
  margin-right: 22px;
  position: relative;
  padding: 0 10px 0 0;
  cursor: grab;
}
.logo-item img {
  width: 50%;
  margin: 25px 40px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 5px;
}
.logo-item::before {
  content: "";
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: 1s;
  padding-right: 7px;
  cursor: grab;
}
.logo-item:hover::before {
  opacity: 1;
}
.logo-item:hover img {
  filter: brightness(200%);
}
/* END LOGO */
/*  */
/* START FOOTER */
footer {
  width: 100%;
  max-width: 1600px;
  background: url(./drive-download-20220328T034701Z-001/bg4.png);
  padding-top: 50px;
  margin: 0 auto;
  position: relative;
  height: auto !important;
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  background-size: contain;
  z-index: 1;
}
footer::before {
  content: "";
  background: url(./drive-download-20220328T034701Z-001/pattern2.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 135%;
}
.footer-first {
  background: url(./drive-download-20220328T034701Z-001/pattern3.png);
  width: 100%;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  max-width: 1200px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  z-index: 99;
}
.footer-first label {
  margin: 0 200px 0 100px;
  font-size: 30px;
  font-weight: 800;
  color: #262626;
  max-width: 1280px;
}
.footer-first form {
  padding: 60px 0;
  display: flex;
}
.input-email {
  width: 25%;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#email-footer {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
#email-footer:hover {
  border: 1px solid #f55f8d;
}
.input-submit button {
  width: 75px;
  padding: 12px;
  height: 50px;
  border-radius: 0 5px 5px 0;
  transform: translateX(-7px);
  border: none;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  transition: 0.5s;
  cursor: pointer;
}
.input-submit:hover button {
  background-position: right;
}
.input-submit button i {
  color: white;
}
.input-submit:hover button i {
  animation-name: paper-plane;
  animation-duration: 0.5s;
}
.footer-second {
  padding: 50px 0;
}
.footer-left {
  width: 30%;
}
.footer-left img {
  width: 40%;
  cursor: pointer;
}
.footer-icon i:hover {
  background-position: right;
}
.footer-icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  transition: 0.5s;
}
.footer-icon {
  display: flex;
  padding: 20px 0;
}
.footer-icon span {
  padding: 6px 0 6px 20px;
  color: #989e9f;
}
.footer-shoppe ul li {
  list-style: none;
  transition: 0.5s;
}
.footer-shoppe ul li a:hover {
  color: white;
}
.footer-shoppe li a {
  text-decoration: none;
  color: #989e9f;
  font-size: 20px;
  line-height: 2.5;
  transition: 0.5s;
}

.footer-right h3 {
  font-size: 22px;
  color: white;
}
.footer-right {
  width: 70%;
}
.footer-shoppe span {
  margin-left: 10px;
  transition: 0.5s;
}
.footer-lazada {
  margin-bottom: 21px;
  width: 140px;
  height: 50px;
  position: relative;
}
.footer-lazada::before {
  content: "";
  width: 20px;
  height: 7px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-lazada::after {
  content: "";
  width: 50px;
  height: 7px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 25px;
}
.footer-information {
  width: 33%;
}
.footer-third {
  background-color: #1f343b;
  padding: 10px 0;
}
.footer-grab {
  justify-content: space-between;
}
.footer-tiki i {
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #36494f;
  cursor: pointer;
}
.footer-tiki i:hover {
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  background-size: 200%;
}
.footer-sendo p {
  color: #989e9f;
}
.footer-sendo a {
  color: #f55f8d;
  text-decoration: none;
}
.footer-sendo {
  padding-top: 9px;
}
.footer-shoppe ul li span:hover {
  color: white;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.backtohome {
  border-radius: 4px;
  border-style: solid;
  border-width: 0;
  bottom: 15px;
  color: white;
  cursor: pointer;
  display: none;
  height: 50px;
  line-height: 50px;
  margin: 0;
  position: fixed;
  right: 15px;
  text-align: center;
  width: 50px;
  z-index: 999;
  box-shadow: -4px 4px 24px -10px;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  max-width: 1600px;
}
.backtohome {
  box-shadow: -4px 4px 24px -10px #f55f8d !important;
  background: #f55f8d;
  border-color: #f55f8d;
}
.back-to-top {
  color: white;
  font-size: 20px;
  font-weight: 800;
}
/* End Footer */
/*  */
/* ANIMATION */
@keyframes animate_img {
  0% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    -webkit-transform: rotate(-1deg) translate(-2px, -2px);
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    -webkit-transform: rotate(1deg) translate(2px, 2px);
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes carousel-translate {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes surprise {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes paper-plane {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 0;
    transform: translateX(26px);
  }
  50% {
    opacity: 0;
    transform: translateX(-26px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
